In [1]:
import pandas as pd
import numpy as np
import statsmodels.api as sm
data = pd.read_csv("rank.csv")

In [2]:
data.iloc[:5,]

,Unnamed: 0,topic,stars,overrate,food,service,price
0,--ujyvoQlwVoBgMYtADiLA,1,3.5,"{'good': 4, 'best': 0, 'great': 11, 'well': 0,...","{'good': 27, 'best': 4, 'great': 22, 'well': 1...","{'good': 9, 'best': 3, 'great': 10, 'well': 1,...","{'good': 2, 'best': 0, 'great': 1, 'well': 0, ..."
1,-1xCh7Cocn6IwFzhELyohA,1,2.5,"{'good': 7, 'best': 0, 'great': 3, 'well': 0, ...","{'good': 11, 'best': 1, 'great': 15, 'well': 0...","{'good': 5, 'best': 1, 'great': 1, 'well': 0, ...","{'good': 3, 'best': 0, 'great': 1, 'well': 0, ..."
2,-382X_bWhJKPJKP1VfXOmw,1,2.0,"{'good': 0, 'best': 0, 'great': 0, 'well': 1, ...","{'good': 11, 'best': 0, 'great': 3, 'well': 1,...","{'good': 8, 'best': 0, 'great': 4, 'well': 0, ...","{'good': 0, 'best': 0, 'great': 0, 'well': 0, ..."
3,-7teXSpi9nqy58WUd-8yfw,1,4.5,"{'good': 2, 'best': 0, 'great': 0, 'well': 0, ...","{'good': 4, 'best': 1, 'great': 3, 'well': 2, ...","{'good': 0, 'best': 0, 'great': 1, 'well': 0, ...","{'good': 2, 'best': 0, 'great': 0, 'well': 1, ..."
4,-8F04F54iDT6VgWPCgybug,1,4.5,"{'good': 6, 'best': 1, 'great': 25, 'well': 4,...","{'good': 24, 'best': 6, 'great': 13, 'well': 8...","{'good': 6, 'best': 0, 'great': 2, 'well': 0, ...","{'good': 1, 'best': 0, 'great': 0, 'well': 0, ..."

# Divide the data into 5 parts according to the topic

In [3]:
topic1=data[data.loc[:,"topic"] == 1]
topic2=data[data.loc[:,"topic"] == 2]
topic3=data[data.loc[:,"topic"] == 3]
topic4=data[data.loc[:,"topic"] == 4]
topic5=data[data.loc[:,"topic"] == 5]

In [4]:
topic1.iloc[:5,]

,Unnamed: 0,topic,stars,overrate,food,service,price
0,--ujyvoQlwVoBgMYtADiLA,1,3.5,"{'good': 4, 'best': 0, 'great': 11, 'well': 0,...","{'good': 27, 'best': 4, 'great': 22, 'well': 1...","{'good': 9, 'best': 3, 'great': 10, 'well': 1,...","{'good': 2, 'best': 0, 'great': 1, 'well': 0, ..."
1,-1xCh7Cocn6IwFzhELyohA,1,2.5,"{'good': 7, 'best': 0, 'great': 3, 'well': 0, ...","{'good': 11, 'best': 1, 'great': 15, 'well': 0...","{'good': 5, 'best': 1, 'great': 1, 'well': 0, ...","{'good': 3, 'best': 0, 'great': 1, 'well': 0, ..."
2,-382X_bWhJKPJKP1VfXOmw,1,2.0,"{'good': 0, 'best': 0, 'great': 0, 'well': 1, ...","{'good': 11, 'best': 0, 'great': 3, 'well': 1,...","{'good': 8, 'best': 0, 'great': 4, 'well': 0, ...","{'good': 0, 'best': 0, 'great': 0, 'well': 0, ..."
3,-7teXSpi9nqy58WUd-8yfw,1,4.5,"{'good': 2, 'best': 0, 'great': 0, 'well': 0, ...","{'good': 4, 'best': 1, 'great': 3, 'well': 2, ...","{'good': 0, 'best': 0, 'great': 1, 'well': 0, ...","{'good': 2, 'best': 0, 'great': 0, 'well': 1, ..."
4,-8F04F54iDT6VgWPCgybug,1,4.5,"{'good': 6, 'best': 1, 'great': 25, 'well': 4,...","{'good': 24, 'best': 6, 'great': 13, 'well': 8...","{'good': 6, 'best': 0, 'great': 2, 'well': 0, ...","{'good': 1, 'best': 0, 'great': 0, 'well': 0, ..."

# Try to sum up the number of adj occurs for each business

In [5]:
names=['overrate', 'food', 'service', 'price']

## for topic1

In [6]:
def merge_dicts(d1,d2):
    for i,j in d1.items():
                if i in d2.keys():
                    d2[i] += j
                else:
                    d2[i] = j
    return(d2)

In [7]:
def getsum(line):
    newdict=dict()
    for i in names:
        olddict=eval(line.loc[i])
        newdict=merge_dicts(newdict,olddict)
    return(newdict)

In [8]:
#just try one line
topic1new=dict()
for i in range(3):
    new=dict()
    line=topic1.loc[i,:]
    new['names']=line['Unnamed: 0']
    new['stars']=line['stars']
    adjsum=getsum(line)
    new.update(adjsum)
    topic1new[i]=new

In [9]:
topic1new=dict()
for i in range(topic1.shape[0]):
    new=dict()
    line=topic1.iloc[i,:]
    new['names']=line['Unnamed: 0']
    new['stars']=line['stars']
    adjsum=getsum(line)
    new.update(adjsum)
    topic1new[i]=new

In [10]:
topic1_allsumup=pd.DataFrame(topic1new)
topic1_allsumup=topic1_allsumup.T

In [11]:
a=topic1_allsumup.columns.values.tolist()[0:37]+topic1_allsumup.columns.values.tolist()[38:58]+topic1_allsumup.columns.values.tolist()[59:]
order=['names','stars']+a

In [12]:
topic1_allsumup=topic1_allsumup[order] #put names and stars at first

In [13]:
topic1_allsumup.to_csv('/Users/apple/Documents/Wisc/study/2019Fall/STAT 628/Module3/topic1_allsumup.csv')

In [14]:
topic1_allsumup.iloc[:5,:]

,names,stars,NOTbad,NOTgood,NOTmuch,amaz,averag,awesom,bad,basic,...,special,spici,surpris,sweet,tasti,top,warm,well,worth,wrong
0,--ujyvoQlwVoBgMYtADiLA,3.5,0,3,0,10,0,1,3,0,...,3,3,2,1,2,6,0,2,0,1
1,-1xCh7Cocn6IwFzhELyohA,2.5,1,1,0,1,1,0,3,1,...,9,0,0,0,0,2,0,0,0,0
2,-382X_bWhJKPJKP1VfXOmw,2,0,1,0,0,1,1,0,1,...,0,0,2,0,3,4,1,2,0,1
3,-7teXSpi9nqy58WUd-8yfw,4.5,0,0,0,1,0,3,0,0,...,2,0,0,1,1,0,0,3,0,0
4,-8F04F54iDT6VgWPCgybug,4.5,0,1,0,17,0,3,0,0,...,0,2,0,6,12,10,0,12,3,0

## for topic2

In [16]:
topic2new=dict()
for i in range(topic2.shape[0]):
    new=dict()
    line=topic2.iloc[i,:]
    new['names']=line['Unnamed: 0']
    new['stars']=line['stars']
    adjsum=getsum(line)
    new.update(adjsum)
    topic2new[i]=new
topic2_allsumup=pd.DataFrame(topic2new)
topic2_allsumup=topic2_allsumup.T
a=topic2_allsumup.columns.values.tolist()[0:37]+topic2_allsumup.columns.values.tolist()[38:58]+topic2_allsumup.columns.values.tolist()[59:]
order=['names','stars']+a
topic2_allsumup=topic2_allsumup[order]

In [17]:
topic2_allsumup.to_csv('/Users/apple/Documents/Wisc/study/2019Fall/STAT 628/Module3/topic2_allsumup.csv')
topic2_allsumup.iloc[:5,:]

,names,stars,NOTbad,NOTgood,NOTmuch,amaz,averag,awesom,bad,basic,...,special,spici,surpris,sweet,tasti,top,warm,well,worth,wrong
0,-7H-oXvCxJzuT42ky6Db0g,3.5,19,11,4,38,33,55,33,9,...,15,4,7,20,31,40,2,71,19,13
1,-BuZrOMqgO4OU_UKYSddAg,3,0,1,0,1,0,0,3,1,...,1,0,0,0,0,0,0,6,0,0
2,-DUQQsE2QvFIuqO5EiChQA,4.5,0,0,0,0,0,3,0,0,...,0,0,0,0,0,0,0,0,0,0
3,-FcuxZqsQ0FO35GEXExwjw,3.5,0,1,1,0,1,1,2,0,...,2,0,1,0,5,1,0,5,1,0
4,-HgbBv9Yjqv735F9fwCZNg,2.5,3,1,0,3,4,3,6,2,...,1,2,0,10,2,4,2,15,2,7

## for topic3

In [18]:
topic3new=dict()
for i in range(topic3.shape[0]):
    new=dict()
    line=topic3.iloc[i,:]
    new['names']=line['Unnamed: 0']
    new['stars']=line['stars']
    adjsum=getsum(line)
    new.update(adjsum)
    topic3new[i]=new
topic3_allsumup=pd.DataFrame(topic3new)
topic3_allsumup=topic3_allsumup.T
a=topic3_allsumup.columns.values.tolist()[0:37]+topic3_allsumup.columns.values.tolist()[38:58]+topic3_allsumup.columns.values.tolist()[59:]
order=['names','stars']+a
topic3_allsumup=topic3_allsumup[order]

In [19]:
topic3_allsumup.to_csv('/Users/apple/Documents/Wisc/study/2019Fall/STAT 628/Module3/topic3_allsumup.csv')
topic3_allsumup.iloc[:5,:]

,names,stars,NOTbad,NOTgood,NOTmuch,amaz,averag,awesom,bad,basic,...,special,spici,surpris,sweet,tasti,top,warm,well,worth,wrong
0,-IFq5ULEK4Fl8ZzrArtB5g,4,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,-LccesU7Hg_OVBPLH2DkIg,4,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,-R2kwt0qMnzwEdAfXPvkXg,4,4,3,3,15,3,13,20,4,...,12,13,1,1,13,5,2,21,12,0
3,-W4gdvXVwi2nTkAIjqaJzA,3.5,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,-WRLKqr9TXFYp0LtBB6ACg,5,0,0,0,0,0,0,0,0,...,0,4,0,0,0,0,0,0,0,0

## for topic 4

In [20]:
topic4new=dict()
for i in range(topic4.shape[0]):
    new=dict()
    line=topic4.iloc[i,:]
    new['names']=line['Unnamed: 0']
    new['stars']=line['stars']
    adjsum=getsum(line)
    new.update(adjsum)
    topic4new[i]=new
topic4_allsumup=pd.DataFrame(topic4new)
topic4_allsumup=topic4_allsumup.T
a=topic4_allsumup.columns.values.tolist()[0:37]+topic4_allsumup.columns.values.tolist()[38:58]+topic4_allsumup.columns.values.tolist()[59:]
order=['names','stars']+a
topic4_allsumup=topic4_allsumup[order]

In [21]:
topic4_allsumup.to_csv('/Users/apple/Documents/Wisc/study/2019Fall/STAT 628/Module3/topic4_allsumup.csv')
topic4_allsumup.iloc[:5,:]

,names,stars,NOTbad,NOTgood,NOTmuch,amaz,averag,awesom,bad,basic,...,special,spici,surpris,sweet,tasti,top,warm,well,worth,wrong
0,--GM_ORV2cYS-h38DSaCLw,3.5,0,0,0,2,0,0,2,0,...,1,0,0,0,0,4,0,0,0,1
1,-2dlgoN1ass-zmrE5rqHGw,2,0,0,0,0,0,0,0,2,...,0,0,0,0,1,0,1,0,0,0
2,-40RDS4F54qiGiEQUsZaXA,3.5,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,-7PX_FOoCwktlunImRyZdg,4.5,0,4,1,16,2,2,2,3,...,5,8,0,5,3,10,0,17,3,2
4,-8ILwSisSrTzcyy_Z0o9oA,3.5,2,0,1,1,0,1,0,0,...,0,0,0,0,4,6,2,5,6,2

## for topic5

In [22]:
topic5new=dict()
for i in range(topic5.shape[0]):
    new=dict()
    line=topic5.iloc[i,:]
    new['names']=line['Unnamed: 0']
    new['stars']=line['stars']
    adjsum=getsum(line)
    new.update(adjsum)
    topic5new[i]=new
topic5_allsumup=pd.DataFrame(topic5new)
topic5_allsumup=topic5_allsumup.T
a=topic5_allsumup.columns.values.tolist()[0:37]+topic5_allsumup.columns.values.tolist()[38:58]+topic5_allsumup.columns.values.tolist()[59:]
order=['names','stars']+a
topic5_allsumup=topic5_allsumup[order]

In [23]:
topic5_allsumup.to_csv('/Users/apple/Documents/Wisc/study/2019Fall/STAT 628/Module3/topic5_allsumup.csv')
topic5_allsumup.iloc[:5,:]

,names,stars,NOTbad,NOTgood,NOTmuch,amaz,averag,awesom,bad,basic,...,special,spici,surpris,sweet,tasti,top,warm,well,worth,wrong
0,-3rvpkYkYD_N1IP4hSvD0A,3.5,1,0,0,2,3,0,3,2,...,11,7,1,2,2,4,0,0,1,0
1,-AtzcXIwEP6yO7rM9CM9ww,4,1,1,0,1,0,3,3,0,...,0,4,0,0,1,1,0,4,0,0
2,-Is6Ney1wmsJAjvDdkaaaQ,3,0,0,0,0,3,0,0,0,...,0,0,1,0,1,0,0,1,1,0
3,-Kw6QNbBBgextJZlhtIq9w,4.5,0,1,0,0,0,0,0,0,...,0,2,1,0,0,0,0,1,0,0
4,-ORqiS4L-8pq3dLsUazXTg,4,0,0,0,0,1,0,0,0,...,0,1,0,0,0,1,0,1,0,0