In [1]:
import numpy as np
import pandas as pd
import os
import csv
os.getcwd()

'/Users/wangqiaoyu/Desktop/UW-Madion /628/Module3'

In [2]:
PAfood = pd.read_csv('./data/PAreview.csv')

In [3]:
len(PAfood)

214443

In [4]:
PAfood.head()

,Unnamed: 0,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,0,fdiNeiN_hoCxCMy2wTRW9g,w31MKYsNFMrjhWxxAb5wIw,eU_713ec6fTGNO4BegRaww,4.0,0,0,0,I'll be the first to admit that I was not exci...,2013-01-20 13:25:59
1,1,Z7wgXp98wYB57QdRY3HQ3w,GYNnVehQeXjty0xH7-6Fhw,FxLfqxdYPA6Z85PFKaqLrg,4.0,0,0,0,Wow. So surprised at the one and two star revi...,2016-05-07 01:36:53
2,2,IPw8yWiyqnfBzzWmypUHgg,5JVY32_bmTBfIGpCCsnAfw,Mem13A3C202RzT53npn4NA,5.0,9,6,9,If you are looking for the best pierogies in P...,2017-05-13 10:41:43
3,3,1daGBpea0sleayFeeXuoYw,q3GeSW9dWN9r_ocqFkhrvg,9nTF596jDvBBia2EXXiOOg,1.0,1,0,0,"if i can give this place no stars i would, i o...",2014-04-19 15:03:17
4,4,RLbWoIri29BcQ8yjzsvQLQ,_o740mSNRhMNYuPjSJoPLg,sMzNLdhJZGzYirIWt-fMAg,5.0,0,0,0,This place epitomizes the rumored transformati...,2015-06-21 00:59:14

In [5]:
useful_number=0
for i in range(len(PAfood)):
    useful_number+=PAfood["useful"][i]
print(useful_number)

248537

In [6]:
#Calculate the weight of useful relative to review
weight=len(PAfood)/useful_number
print(weight)

0.8628212298370062

In [7]:
data = []
file = open('./data/PAreview_clean_fre.csv','r', encoding='utf-8',errors='ignore')
myfile = csv.DictReader(file)
for x in myfile:
    line = {'business_id':x['business_id'],'freq':x['freq'],'useful':x['useful']}
    data.append(line)
file.close()

In [8]:
#Transfer the string to dic
for k in range(len(data)):
    data[k]['freq']=eval(data[k]['freq'])

In [9]:
#Add the influence of useful to frequency
for i in range(len(data)):
    for j in range(len(data[i]['freq'])):
        data[i]['freq'][j] = list(data[i]['freq'][j])
        data[i]['freq'][j][1] = data[i]['freq'][j][1]*(1+int(data[i]['useful'])*weight)

In [65]:
# We need to combine all reviews of single one review
def combinebusi(mylist):
    dic={}
    keys = []
    values = []
    dic['business'] = mylist[0]['business_id']
    for i in mylist:
        for j in i['freq']:
            if j[0] not in keys:
                keys.append(j[0])
                values.append(j[1])
            else:
                values[keys.index(j[0])]+=j[1]
    dictionary = dict(zip(keys, values))
    dic['freq'] = dictionary
    return dic

In [69]:
bu_id = []
data_list = []
for onedata in data:
    p=p+1
    oneid = onedata["business_id"]
    temp = {}
    if oneid not in bu_id:
        bu_id.append(oneid)
        temp_list = filter(lambda x: x["business_id"] == onedata["business_id"], data)
        temp = combinebusi(list(temp_list))
        data_list.append(temp)
    else:
        continue

In [76]:
df=pd.DataFrame.from_dict(data_list)

In [77]:
df

,business,freq
0,eU_713ec6fTGNO4BegRaww,"{'good': 358.4925141930577, 'also': 137.830838..."
1,FxLfqxdYPA6Z85PFKaqLrg,"{'delici': 6.862821229837007, 'salad': 51.5128..."
2,Mem13A3C202RzT53npn4NA,"{'best': 75.31798887087234, 'pierogi': 441.886..."
3,9nTF596jDvBBia2EXXiOOg,"{'hot': 72.6102793547842, 'pot': 62.1589944354..."
4,sMzNLdhJZGzYirIWt-fMAg,"{'pittsburgh': 275.22832415294295, 'place': 10..."
...,...,...
4519,KDiUpLL46cgoiWIM_UyR6g,"{'good': 54.82695534266528, 'delici': 2.862821..."
4520,w1YYythIAHHUXR_HrbFtew,"{'bar': 11.176927379022036, 'food': 6.58846368..."
4521,oJ2ubid01aI4n1cdIwteYw,"{'downtown': 18.491033528207065, 'come': 33.88..."
4522,MG5Mwc-dA34-L2LUCv43jg,"{'mango': 2.0, 'qq': 3.862821229837006, 'littl..."
4523,WAagBTVAylf-LXc3PNoRZQ,"{'burger': 22.0, 'flipt': 9.0, 'option': 7.0, ..."

In [78]:
# make a output of csv
df.to_csv('/Users/wangqiaoyu/Desktop/UW-Madion /628/Module3/data/freq_afterweight.csv')