In [19]:
import os
os.chdir(path="/Users/wangqiaoyu/Desktop/UW-Madion /628/Module3/data/")
os.getcwd()

'/Users/wangqiaoyu/Desktop/UW-Madion /628/Module3/data'

In [20]:
import pandas as pd
csv_data = pd.read_csv('PA_business_cleaning.csv')  # read table
print(csv_data.shape)

(4524, 15)

In [23]:
businessid_goal=list(csv_data["business_id"])

In [24]:
import json
with open('review.json', encoding='utf-8') as g:
    iter_g = iter(g)
    line2 = g.readline()
    text2 = []
    for line2 in iter_g: 
        d = json.loads(line2)
        text2.append(d)
    g.close()

In [25]:
d=dict()  #make dictionary of review
j=0
for i in range(len(text2)):
    s=text2[i]['business_id']
    if type(s)==str:
        if s in businessid_goal:
            d[j]=text2[i]
            j=j+1

In [26]:
import pandas as pd   #transform dictionary to csv
df=pd.DataFrame.from_dict(d)

In [27]:
print(df.shape)

(9, 214443)

In [28]:
finaldf=df.T

In [29]:
finaldf[0:5]

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,fdiNeiN_hoCxCMy2wTRW9g,w31MKYsNFMrjhWxxAb5wIw,eU_713ec6fTGNO4BegRaww,4,0,0,0,I'll be the first to admit that I was not exci...,2013-01-20 13:25:59
1,Z7wgXp98wYB57QdRY3HQ3w,GYNnVehQeXjty0xH7-6Fhw,FxLfqxdYPA6Z85PFKaqLrg,4,0,0,0,Wow. So surprised at the one and two star revi...,2016-05-07 01:36:53
2,IPw8yWiyqnfBzzWmypUHgg,5JVY32_bmTBfIGpCCsnAfw,Mem13A3C202RzT53npn4NA,5,9,6,9,If you are looking for the best pierogies in P...,2017-05-13 10:41:43
3,1daGBpea0sleayFeeXuoYw,q3GeSW9dWN9r_ocqFkhrvg,9nTF596jDvBBia2EXXiOOg,1,1,0,0,"if i can give this place no stars i would, i o...",2014-04-19 15:03:17
4,RLbWoIri29BcQ8yjzsvQLQ,_o740mSNRhMNYuPjSJoPLg,sMzNLdhJZGzYirIWt-fMAg,5,0,0,0,This place epitomizes the rumored transformati...,2015-06-21 00:59:14

In [30]:
finaldf.to_csv('/Users/wangqiaoyu/Desktop/UW-Madion /628/Module3/data/PAreview.csv')

In [31]:
import json
with open('tip.json', encoding='utf-8') as k:
    iter_k = iter(k)
    line3 = k.readline()
    text3 = []
    for line3 in iter_k: 
        d = json.loads(line3)
        text3.append(d)
    k.close()

In [34]:
d2=dict()
j=0
for i in range(len(text3)):
    s=text3[i]['business_id']
    if type(s)==str:
        if s in businessid_goal:
            d2[j]=text3[i]
            j=j+1

In [35]:
df2=pd.DataFrame.from_dict(d2)

In [36]:
print(df2.shape)

(5, 32786)

In [37]:
finaldf2=df2.T
finaldf2[0:5]

,user_id,business_id,text,date,compliment_count
0,CbmNBkKa9QKNxPiN_whFUw,xZfPdAYeimiruXuGR4nSUA,Dinner!!,2011-04-21 22:43:28,0
1,3KkT6SmPFLGvBS1pnDBr8g,D2nfOrnJ2OBlX_428sKyMg,Long lines at lunch!!,2011-12-30 17:10:16,0
2,pDAqvfflIM4AM23VRpqAaw,0PVxodALQu-soL5J8bjerQ,If there's a more authentic breakfast place in...,2012-07-24 16:24:09,0
3,A69QAmKSdW45kUIqd4FESg,0NoHJtug9xefI2OnsANaMA,Everything on the menu is fabulous! Never had ...,2012-11-02 02:23:20,0
4,J1eLG-wXf4D_vcUhGvq2ZA,1cGyzWtfOoDiE8V0OR85yA,"Bring cash, they don't take cards.",2014-04-06 19:24:11,0

In [38]:
finaldf2.to_csv('/Users/wangqiaoyu/Desktop/UW-Madion /628/Module3/data/PAtip.csv') # make a output of csv